.contactDescription {
    padding: 0;
}

.contactInfo {
    margin-top: 5px;
    border-radius: 30px;
    padding: 10px 20px;

    display: inline-block;

    background-color: rgba(0, 0, 0, 0.35);
}

span {
    width: 100%;
    display: block;
}

@media (max-width: 650px) {
    .checkTheseOut {
        flex-direction: column;
        align-items: center;
    }
}