.linkHub img {
    width: 30px;
    margin: 5px 15px 5px 5px;
}

.linkHub a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.linkHub a:link, .linkHub a:visited {
    color: var(--linkColor2);
}

.linkHub a:hover, .linkHub a:focus {
    color: var(--linkColorHover2);
}

.linkHub a:active {
    color: var(--linkColorActive2);
}