.navBar {
	width: 100%;
	border-radius: 5px;

	display: flex;
	justify-content: space-evenly;

	font-size: 18px;
	font-weight: 400;

	background-color: var(--navColor);
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

.navBar ul {
	display: flex;
	float: left;
	margin: 15px 0;
	padding: 0 25px;
}

.navBar ul li {
	list-style-type: none;
	padding: 0 50px;
}

.navBar a {
	text-decoration: none;
}

.navBar a:link,
.navBar a:visited {
	color: var(--linkColor1);
	text-shadow: 0 2px 3px black;
}

.navBar a:hover,
.navBar a:focus {
	color: var(--linkColorHover1);
}

.navBar a:active {
	color: var(--linkColorActive1);
}

@media (max-width: 767px) {
	.navBar {
		height: auto;
	}

	.navBar ul {
		margin: 10px;
		padding: 0;
		flex-direction: column;
	}

	.navBar ul li {
		padding: 10px 0;
	}
}
