/* Created with reference to Jatin Sharma's code
    https://codepen.io/j471n/pen/vYJaLvm */

.timeline {
	display: flex;
	flex-direction: column;
	position: relative;
}

/* Line in the middle */
.timeline-item::before {
	content: '';
	align-self: flex-start;
	position: absolute;
	top: 0;
	left: -30px;
	width: 4px;
	height: 120%;
	background-color: var(--timelineColor);
}

.timeline-item:nth-child(even)::before {
	align-self: flex-end;
	left: calc(100% + 24px);
}

.timeline-item:first-child::before {
	top: 50%;
}

.timeline-item:last-child::before {
	bottom: 50%;
}

/* ------------------- */

.timeline-item {
	display: flex;
	justify-content: flex-end;
	position: relative;
	width: calc(50% - 27px);
	margin: 10px 0;
	margin-right: 30px;
}

.timeline-item:nth-child(odd) {
	justify-content: flex-start;
	align-self: flex-end;
	margin-right: 0;
	margin-left: 30px;
}

.timeline-item-content {
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	position: relative;
	width: 400px;
	max-width: 70%;
	padding: 20px;
	background-color: #fff;
	border-radius: 5px;
	text-align: right;
}

/* Arrows pointing to timeline */
.timeline-item-content::after {
	box-shadow: 1px -1px 1px rgba(0, 0, 0, 0.2);
	content: ' ';
	position: absolute;
	top: calc(50% - 7.5px);
	right: -7.5px;
	transform: rotate(45deg);
	width: 15px;
	height: 15px;
	background-color: #fff;
}

.timeline-item:nth-child(odd) .timeline-item-content {
	align-items: flex-start;
	text-align: left;
}

.timeline-item:nth-child(odd) .timeline-item-content::after {
	box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.2);
	left: -7.5px;
	right: auto;
}

.timeline-item-content .tag {
	position: absolute;
	top: 5px;
	left: 5px;
	padding: 5px;
	font-size: 12px;
	font-weight: bold;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.timeline-item:nth-child(odd) .timeline-item-content .tag {
	left: auto;
	right: 5px;
}

/* Style common bits of the item contents */
.timeline-title {
	font-weight: bold;
}

.timeline-item-content time {
	margin: 1em 0;
	font-size: 12px;
	font-weight: bold;
	color: #777;
}

.timeline-item-content p {
	margin: 1em 0 0 0;
	font-size: 16px;
	line-height: 1.4em;
}

.timeline-item-content a {
	margin-top: 0.8em;
	font-size: 14px;
	font-weight: bold;
}

.timeline-item .techStack img {
	margin: 0 0 0 7px;
}

.timeline-item:nth-child(odd) .techStack img {
	margin: 0 7px 0 0;
}

.timeline-item-content a::after {
	content: ' ➺';
	font-size: 12px;
}

.circle {
	position: absolute;
	z-index: 100;
	top: calc(50% - 13px);
	right: -40px;
	width: 20px;
	height: 20px;
	background-color: #fff;
	border: 3px solid var(--timelineColor);
	border-radius: 50%;
}

.timeline-item:nth-child(odd) .circle {
	left: -40px;
	right: auto;
}

@media only screen and (max-width: 1023px) {
	.timeline-item-content {
		max-width: 100%;
	}
}

/* Alternate timeline layout for smaller screens */
@media only screen and (max-width: 767px) {
	.timeline-item-content {
		width: 100%;
	}

	.circle {
		right: -50px;
	}

	.timeline-item:nth-child(odd) .circle {
		left: -50px;
	}

	/* Curvy borders */
	.timeline-item {
		top: 0;
		width: calc(100% - 200px);
		margin: -5px 30px 0 30px;
		padding: 35px;
		border-width: 5px 5px 5px 0;
		border-style: solid;
		border-color: var(--timelineColor);
		border-radius: 0 50px 50px 0;
	}

	.timeline-item:nth-child(odd) {
		border-width: 5px 0 5px 5px;
		border-radius: 50px 0 0 50px;
	}

	.timeline-item:first-child {
		border-top: 0;
		border-style: solid dotted;
		border-top-left-radius: 0;
		border-top-right-radius: 0;
	}

	.timeline-item:last-child {
		padding-bottom: 50px;
		border-bottom: 0;
		border-style: solid dotted;
		border-bottom-right-radius: 0;
		border-bottom-left-radius: 0;
	}

	.timeline::before {
		content: '';
		align-self: center;
		width: calc(100% - 65px);
		height: 80px;
		border-width: 5px;
		border-style: none none none dotted;
		border-color: var(--timelineColor);
	}

	/* Align all card contents in alternating style */
	.timeline-item-content {
		text-align: right;
	}

	.timeline-item:nth-child(odd) .timeline-item-content {
		text-align: left;
	}

	.timeline-item {
		align-self: flex-end;
	}

	.timeline-item:nth-child(odd) {
		align-self: flex-start;
	}

	/* Delete center line */
	.timeline-item::before {
		display: none;
	}
}
