html {
  white-space: pre-wrap;
}

.App {
  text-align: center;
}

.header {
  border: 1px black;
  margin: 20px;
}

.infoBlock {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.linkHub {
  display: flex;
  flex-direction: column;
  background-color: bisque;
}

.techStack {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.techStack img {
  margin: 2px;
  background-color: green;
}