:root {
	--navColor: #131b1fc4;
	--mainTextColor: #ffffff;
	--secondaryTextColor: #000000;
    --tertiaryTextColor: #ced1d8;

	--linkColor1: #fff692;
	--linkColorHover1: #ffffff;
	--linkColorActive1: #ffb500;

	--linkColor2: #ffc051;
	--linkColorHover2: #92ffdc;
	--linkColorActive2: #ff8620;

    --linkColor3: #0b8e9d;
	--linkColorHover3: #014070;
	--linkColorActive3: #ff8620;

    --timelineColor: #3c4a77;
    --timelineBackgroundColor: #e9e5de;
}

html {
    background-image: url('./assets/header-background-joshua-sortino-unsplash.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;

    color: var(--mainTextColor);
}

.App {
	white-space: pre-wrap;
	text-align: center;

	font-family: 'Chivo Mono', monospace;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;

	scroll-behavior: smooth;
}

header p {
	margin: 0 auto;
	padding-bottom: 20px;
	max-width: 700px;
}

title {
	width: 100%;

	display: block;
}

ul {
	list-style-type: none;
	padding: 0;
}

a {
    text-decoration: dotted underline;
	text-decoration-skip-ink: auto;
	text-underline-offset: 0.25rem;

    transition: color 0.1s;
}

.topBlock {
	padding: 40px 40px 20px;
}

.topBlockContent {
	border-radius: 5px;
	margin-top: 20px;
	padding: 30px;

	line-height: 150%;
	text-shadow: 0 1px 3px black;

	background-color: rgba(14, 22, 25, 0.39);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
	backdrop-filter: blur(7px);
}

.topBlockContent a:link,
.topBlockContent a:visited {
	color: var(--linkColor2);
}

.topBlockContent a:hover,
.topBlockContent a:focus {
	color: var(--linkColorHover2);
}

.topBlockContent a:active {
	color: var(--linkColorActive2);
}

.checkTheseOut {
	padding: 20px;
	width: 100%;

	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: flex-start;
	text-align: center;
}

.checkOut1 title,
.checkOut2 title,
.checkOut3 title {
	font-weight: 600;
}

.checkOut1,
.checkOut2,
.checkOut3 {
	padding: 10px 20px 20px 20px;
	justify-content: space-evenly;
}

.linkHub {
	display: flex;
	flex-direction: column;
}

.techStackBlock {
	padding: 0 30px;

	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: center;
	gap: 10px;
}

.techStackBlock .techStack img {
	margin: 7px;
	vertical-align: middle;
}

.techStack img {
	margin: 2px;
	vertical-align: middle;
}

.middleBlock {
    margin: 20px 0;
    padding-bottom: 40px;

    color: var(--secondaryTextColor);
    background-color: var(--timelineBackgroundColor);
}

.middleBlock title {
    padding: 30px 0;
    border-radius: 5px;

    font-size: 20px;
    font-weight: 600;
}

.middleBlock title div {
    border-radius: 5px;
    padding: 20px 30px;
    width: max-content;

    margin: auto;
    background-color: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
}

.middleBlock a:link,
.middleBlock a:visited {
	color: var(--linkColor3);
}

.middleBlock a:hover,
.middleBlock a:focus {
	color: var(--linkColorHover3);
}

.middleBlock a:active {
	color: var(--linkColorActive3);
}

footer {
	color: var(--tertiaryTextColor);
	padding: 0 40px 20px;
}

footer p {
	margin: 0;
	border-radius: 10px;
	padding: 15px;
	text-shadow: 0 1px 3px black;

	background-color: rgba(14, 22, 25, 0.39);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
	backdrop-filter: blur(7px);
}

@media (max-width: 767px) {
    .middleBlock title {
        padding: 0;
        height: 0;
        position: relative;
        top: 20px;
    }

    .topBlock {
        padding: 20px 20px 40px 20px;
    }

    .middleBlock {
        padding: 0;
    }

    .checkTheseOut {
        flex-direction: column;
        align-items: center;
    }

    .timeline {
        margin-top: 0;
    }
}
